<h1> WELCOME TO BUNNY'S TRAVEL!</h1>
<p>To use our services, please complete the register form below.</p>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
    </div>


</form>